div.mapboxgl-popup {
  /* add rules to combat popup content fuzzyness */
}

div.mapboxgl-popup-content {
  background: var(--light);
  color: var(--dark);
  border-radius: 10px !important;
  padding: 10px 10px 15px;
  pointer-events: auto;
  position: relative;
  width: 240px;
  -webkit-font-smoothing: antialiased;
}

.popup-content {
  display: inline;
  margin-block-start: 0.5em;
  -webkit-font-smoothing: antialiased;
  /* -webkit-font-smoothing: subpixel-antialiased; */
}

.mapboxgl-popup-tip {
  border-bottom-color: var(--light) !important;
  border-top-color: var(--light) !important;
}

.popup-section-label {
  font-weight: bold;
  display: inline;
}

.mapboxgl-popup-close-button {
  background-color: transparent;
  border: 0;
  border-radius: 0 3px 0 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  color: var(--dark);
}

.popup-section {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 700px) {
  .mapboxgl-popup-tip {
    display: none;
  }
  div.mapboxgl-popup {
    position: fixed;
    top: 59%;
    left: 48%;
    transform: translate(-50%, -10%) !important;
  }
}

/* Media query for landscape mode on small screens */
@media only screen and (max-width: 767px) and (orientation: landscape) {
  div.mapboxgl-popup {
    position: fixed;
    top: 15%;
    left: 49%;
    transform: translate(-50%, -10%) !important;
  }
}
