div.mapboxgl-popup-content {
  background: var(--light);
  color: var(--dark);
  border-radius: 10px !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 15px;
  pointer-events: auto;
  position: relative;
  width: 240px;
}

.popup-content {
  display: inline;
  margin-block-start: 0.5em;
}

.mapboxgl-popup-tip {
  border-bottom-color: var(--light) !important;
  border-top-color: var(--light) !important;
}

.popup-section-label {
  font-weight: bold;
  display: inline;
}

.mapboxgl-popup-close-button {
  background-color: transparent;
  border: 0;
  border-radius: 0 3px 0 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  color: var(--dark);
}

.popup-section {
  margin-bottom: 0.5rem;
}
