.checkbox-label {
  padding-left: 6px;
}

.circle-example {
  border-radius: 6px;
  display: inline-block;
  height: 10px;
  margin-left: 6px;
  width: 10px;
  border: 1px solid black;
}

.resolution-filter-input {
  line-height: 2;
}

@media only screen and (max-width: 600px) {
  .resolution-filter-input {
    line-height: 1.5;
  }
}
