@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

hr {
  border: 2px solid #4a4d63;
  margin: 2rem 0;
}

label {
  display: inline-block;
}

.links {
  bottom: var(--sidebar-padding);
  display: block;
  position: fixed;
}

.logo-container {
  display: flex;
}

.loading-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-left: 20px;
  overflow: show;
  position: relative;
  top: 0;
  z-index: 2;
}

.sidebar {
  background: #2b2f3b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  color: var(--light);
  display: block;
  height: 100%;
  line-height: 2;
  max-width: var(--sidebar-width);
  outline: none;
  padding: 1.5rem;
  position: absolute;
  top: 0;
}

.site-description {
  line-height: 1.5;
}

.source-link {
  display: block;
  font-size: medium;
}

@media only screen and (max-width: 700px) {
  div.sidebar {
    height: unset;
    max-height: 50%;
    max-width: 100%;
    padding: 1rem;
    width: 100%;
  }

  header {
    display: flex;
    margin-bottom: 1rem;
  }

  hr {
    border: 1px solid #4a4d63;
    margin: 0.75rem 0;
  }

  img.site-logo {
    width: 100px;
    height: auto;
  }

  .links {
    display: none;
  }

  .loading-container {
    display: block;
    position: fixed;
    right: 20%;
    top: 27%;
  }

  .mobile-logo {
    display: block;
    display: none;
    border: 1px solid var(--light);
    border-radius: 5px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: medium;
    height: 33px;
    margin-right: 0.5em;
    padding: 2px 8px;
    width: 63px;
  }

  .site-description {
    line-height: 1.5;
  }

  .slider-horizontal-rule {
    /* display: none; */
  }

  .source-link {
    font-size: smaller;
  }

  .subheadings-section {
    font-size: larger;
    margin: 0.5em 0;
  }
}
