@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

.sidebar {
  display: block;
  background: #2b2f3b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: var(--light);
  /* font-size: medium; */
  line-height: 2;
  max-width: 520px;
  outline: none;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  height: 100%;
  box-sizing: border-box;
}

.mobile-logo {
  display: none;
}

.source-link {
  font-size: medium;
}

.links {
  display: block;
}

hr {
  margin: 2rem 0;
  border: 2px solid #4a4d63;
}

label {
  display: inline-block;
}

.loading-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.source-link {
  display: block;
}

@media only screen and (max-width: 700px) {
  div.sidebar {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    height: unset;
    max-height: 50%;
  }

  .subheadings-section {
    /* margin: 0.5em 0; */
  }

  h1,
  h2,
  h3,
  h4 {
    font-size: smaller;
    line-height: 1.1;
  }

  hr {
    margin: 1rem 0;
    border: 1px solid #4a4d63;
  }

  header {
    display: flex;
    margin-bottom: 1rem;
  }

  img.site-logo {
    display: none;
  }

  .mobile-logo {
    display: inline-block;
    width: 63px;
    height: 33px;
    font-size: medium;
    border: 1px solid var(--light);
    border-radius: 5px;
    padding: 2px 8px;
    display: inline;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-right: 0.5em;
  }

  label {
    font-size: smaller;
  }

  .source-link {
    font-size: smaller;
  }

  .slider-horizontal-rule {
    display: none;
  }
}
