@import 'mapbox-gl/dist/mapbox-gl.css';
@import './index.css';

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

#map {
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}

.read-the-docs {
  color: #888;
}

.marker {
  background-color: #fff;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  opacity: 70%;
}

.popup-container {
  font-size: 12px;
  color: #f3f7f2;
  background: #2b2f3b;
  border-radius: 3px;
  text-align: left;
}

.popup-content {
  font-size: 11px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #2b2f3b;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #2b2f3b !important;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 20px;
  height: 20px;
}

.mapboxgl-popup-content {
  background: #2b2f3b;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 15px;
  pointer-events: auto;
  position: relative;
}

.links-and-loader {
  display: flex;
}

.mapboxgl-ctrl-group button:last-child {
  display: none;
}
