@import 'mapbox-gl/dist/mapbox-gl.css';
@import './index.css';

#root {
  width: 100vw;
  margin: 0 auto;
}

#site {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#map {
  width: 100%;
  display: block;
  cursor: pointer;
}

.links-and-loader {
  display: flex;
}

.mapboxgl-ctrl-group button:last-child {
  display: none;
}
