@import 'mapbox-gl/dist/mapbox-gl.css';
@import './index.css';

#root {
  width: 100vw;
  margin: 0 auto;
}

#site {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
}

#map {
  display: block;
  position: relative;
  left: var(--sidebar-width);
  cursor: pointer;
}

.links-and-loader {
  display: flex;
}

.mapboxgl-ctrl-group button:last-child {
  display: none;
}

/* Media query for small screens */
@media only screen and (max-width: 700px) {
  #map {
    /* TODO: replace this hard coded value */
    top: 299px;
    left: unset;
    position: relative;
    display: block;
    width: 100vw;
    height: 50%;
  }
}

/* Media query for landscape mode on small screens */
@media only screen and (max-width: 767px) and (orientation: landscape) {
  #map {
    /* TODO: replace this hard coded value */
    top: 0;
    left: 50%;
    position: relative;
    display: block;
    width: 50%;
    height: 100vh;
  }
}
