.control-panel {
  position: absolute;
  top: 0;
  max-width: 520px;
  background: #fff;
  background: #2b2f3b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  /* margin: 1rem; */
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  color: #f3f7f2;
  outline: none;
  /* border-radius: 6px; */
}

.source-link {
  display: block;
}

label {
  display: inline-block;
  width: 300px;
}

input {
  margin-left: 20px;
}

.marker-example {
  width: 10px;
  height: 10px;
  background-color: aqua;
  border-radius: 6px;
  display: inline-block;
  margin-right: 6px;
}
