/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

:root {
  --dark: #2b2f3b;
  --darker-purple: #959af9;
  --light: #ded7f5;
  --light-purple: #b1b5fa;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: Nunito, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: medium;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

a {
  color: #b1b5fa;
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #959af9;
}

body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  place-items: center;
}

h1 {
  font-size: x-large;
  line-height: 1.1;
  margin-block-end: 0.25em;
  margin-block-start: 0.25em;
}

h2,
h3 {
  font-size: large;
  line-height: 1.1;
}

h3 {
  margin-block-end: 0.5em;
  margin-block-start: 0.5em;
}

.mapboxgl-map {
  font-family: Nunito, sans-serif;
  font-size: medium;
}

@media only screen and (max-width: 700px) {
  h1,
  h2,
  h3,
  h4 {
    font-size: smaller;
    line-height: 1.1;
    margin-block-end: 0.25em;
    margin-block-start: 0.25em;
  }

  h3 {
    font-size: medium;
    margin-block-end: 0.5em;
    margin-block-start: 0.5em;
  }

  h4,
  h5 {
    margin-block-end: 0.5em;
    margin-block-start: 0.5em;
  }

  h5 {
    display: inline;
  }
}
